
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');




body{
    margin:0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing:1.2px;
}


body::-webkit-scrollbar-thumb{

background-color: rgb(113, 10, 231);
border-radius:50px;
}

body::-webkit-scrollbar{
    

background-color: #fff;
width:7px;
}



.dark{
    width:100%;
    height:500px;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(56, 128, 236, 0.611) 100%);
    position:absolute;
    background-size: cover;
}


.header{
    background-image: url(../img/header-bg.jpg);
    display:flex;
    flex-direction: column;
    align-items: center;
    background-size:cover;
    background-position-y: bottom;
    width:100%;
    height:500px;
    
    
}


.navbar{
    z-index: 10;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    padding:20px 0;
}

.logo-text{
    margin: 0;
    color:#fff;
    font-family: 'STIX Two Text', serif;
    position: relative;
    top:13px;
}

.menu{
    margin: 0;
    display:flex;
}

.menu-items{
    list-style:none;
    margin:10px 15px;
}

.menu-links{
color:#fff;
text-decoration: none;
font-size: 17px;
}

.menu-inicio{

animation: palp 0.8s infinite alternate;

}

@keyframes palp {
    
    from{
        border-bottom:2px solid rgba(74, 218, 139, 0);
    }

    to{
        border-bottom:2px solid rgb(74, 218, 139);
    }
}


/* ////////PRESENTACION FOTO Y HOBBY/////// */

.presentacion{
position: relative;
top:50px;
z-index: 10;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width:50%;
}

.presentacion img{
    max-width: 100%;
    width:200px;
    border-radius:50%;
}

.hobby{
    color: rgb(158, 151, 151);
    position: relative;
    /* background-color: rgb(8, 14, 14); */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.459);
    font-weight: bold;
}

.hobby .nombre{
    font-weight: bold;
    color:rgb(74, 218, 139);
}



/* ///////////MAIN CUERPO//////////// */


.main{
    width:100%;
    height: calc(100vh - 500px);
    /* background:#000; */
    background: linear-gradient(0deg, rgb(56, 128, 236, 0.611) 0%, rgba(255, 255, 255) 100%);


}

/* ////////ABOUT ME///////// */

.about-me{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.about-me-up{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}


.about-title{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    color:rgb(0, 0, 0);
}

.about-text{
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    width:40%;
    text-align: center;

}


.about-boxes{
   width:100%;
   height: 100%;
   display:flex;
   justify-content: space-evenly;
   align-items: center;
}

.a-box{
    width:300px;
    height:250px;
    border:2px solid rgb(13, 245, 71);
    border-radius:50px;
    box-shadow: -15px -15px 15px rgba(201, 239, 248,.2),
                15px 15px 15px rgba(74, 218, 139,.1),
                inset -5px -5px 5px rgba(201, 239, 248,.2),
                inset 5px 5px 5px rgba(255, 255, 255, 0.3);
}




/* /////////////PROYECTOS//////////// */


.projects{
    width:100%;
    height:100vh;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,83,245,1) 100%);
}